.category_card{
  width: 300px;
  height: 40px;
  padding: 4px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  margin-bottom: 16px;
}

.category_card__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category_card__content--price{
margin-right: 16px;
}

/* transactions card */

.trans_card{
  width: 300px;
  height: 32px;
  padding: 4px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  margin-bottom: 16px;

}

.trans_card__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trans_card__content--price{
margin-right: 16px;
}